/* color scheme: https://color.adobe.com/Kopie-von-Neutral-Blue-color-theme-11276313/?showPublished=true */

body {
  /* background-color: #D1DBBD; */
  background-color: #193441; 
  font-family: Roboto;
  font-size: 15px;
  color: #FCFFF5;
  overflow-x: hidden;
  line-height: 1.4
}

::selection {
  background-color: #D1DBBD;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Dancing Script";
}

p {
  opacity: 0.7;
}

a {
  text-decoration: none;
  text-transform: none;
  color: white;
}

hr {
  border-top: 1px solid #4f4f4f;
}

.headerImg {
  position: absolute;
  width: 100vw;
  transform: translate(0px, -40px);
  overflow-x: hidden;
  z-index: -1;
}

.container {
  margin: auto 100px;
}

.title {
  font-family: "Dancing Script";
  text-shadow: -2px 2px 3px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  font-size: 80px;
  font-weight: bold;
}

.center {
  text-align: center;
}

.button {
  position: relative;
  margin-top: 40px;
}

.button button {
  float: right;
  color: #FCFFF5;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  border: none;
  font-family: Roboto;
  font-size: 26px;
  background-color: #193441;
  box-shadow: 0px 2px 0px #3E606F;
}

.button button:hover {
  box-shadow: none;
  background-color: #3E606F;
  top: 2px;
  position: relative;
  cursor: pointer;
}

.button button:focus {
  outline: none;
}

.button button:active {
  transition: 0.1s;
  box-shadow: none;
  top: 0px;
  position: relative;
}

.content {
  display: flex;
}

.contentTitle {
  font-family: "Dancing Script";
}

.about {
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 30px;
  margin-top: 50px;
  width: 65%;
  border-radius: 10px;
  background-color: #3E606F;
}

.contentTitle {
  background-color: #193441;
  border: 2px solid white;
  border-radius: 10px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}

.subTitle {
  text-transform: uppercase;
  margin-top: 50px;
  text-align: center;
  font-size: 30px;
}

.footer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  margin: 50px 0px 30px 0px;
  padding: 30px;
  text-align: center;
  box-shadow: -2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  background-color: #3E606F;
  border-radius: 10px;
}

.infoImage {
  display: flex;
  justify-content: center;
} 

.circleImage {
  clip-path: circle(200px at center);
}

.info_1_img {
  padding: 100px;
}

.info_1_p {
  font-size: 20px;
  max-width: 600px;
}

.info_1_h2 {
  background-color: #3E606F;
  border: 2px solid white;
  text-align: center;
  font-size: 36px;
  max-width: 600px;
  margin-top: 200px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.infoImage2 {
  width: 800px;
  text-align: center;
  margin: 0 auto;
}

.info_2_img {
  justify-content: center;
  margin: 100px 0px 50px 0px;
}

.info_2_p {
  font-size: 20px;
}

.info_2_h2 {
  background-color: #3E606F;
  border: 2px solid white;
  font-size: 36px;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.divider {
  margin: 0 auto;
  background-color: #3E606F;
  width: 40px;
  height: 2px;
}

.footer {
  margin-top: 150px;
}

.footerTitle {
  font-family: "Dancing Script";
  font-size: 24px;
  margin-bottom: 10px;
}

/* Login page */

.login {
  background-image: url("https://images.unsplash.com/photo-1533777857889-4be7c70b33f7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=707dd400ff0bb8d6b10e42397f7e275a&auto=format&fit=crop&w=1500&q=80");
  background-size: 100%;
}

.loginContainer {

  margin-bottom: 50px;
}

.loginContainer h1 {
  clear: right;
}

.loginWrapper {
  border: 1px solid white;
  transform: translate(0px, 20px);
  padding-top: 40px;
  margin: 0 auto;
  background-color: #193441;
  width: 500px;
  height: 250px;
  border-radius: 3px;
  opacity: 0.95;
}

.inputLoginPage {
  margin-top: 5px;
  padding: 10px;
  border: none;
  background-color: #3E606F;
  color: white;
  font-size: 40px;
  width: 320px;
  height: 50px;
}

textarea:focus, input:focus{
  outline: none;
}

.inputLoginPage{
  border: 1px solid white;
}

.loginSignUpLink {
  margin-top: 20px;
}

/* Sign Up page */

.signUpWrapper {
  border: 1px solid white;
  transform: translate(0px, 20px);
  padding-top: 40px;
  margin: 0 auto;
  background-color: #193441;
  width: 500px;
  height: 380px;
  border-radius: 3px;
  opacity: 0.95;
}

.confirmButton {
  border: 1px solid white;
  color: #FCFFF5;
  border-radius: 10px;
  margin-left: 10px;
  padding: 5px 20px;
  font-family: Roboto;
  font-size: 26px;
  background-color: #193441;
  transform: translate(170px, 10px);
}

.confirmButton:hover {
  border: 1px solid white;
  box-shadow: none;
  background-color: #3E606F;
  top: 2px;
  position: relative;
  cursor: pointer;
}